<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>NRV Agile Users Group</title>
  
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/aug.css">
  <link rel="stylesheet" href="/fontello/css/fontello.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJzx6W96_Sy88PSq7kpoFtmedMwfOA0ko&sensor=false"></script>
  <script type="text/javascript" src="/javascript/mustache.js"></script>
  <script type="text/javascript" src="/javascript/package.js"></script>
  <script type="text/javascript" src="/javascript/templates.js"></script>
  <script type="text/javascript" src="/javascript/controller.js"></script>
  <script type="text/javascript" src="/javascript/views/package.js"></script>
  <script type="text/javascript" src="/javascript/views/main.js"></script>
  <script type="text/javascript" src="/javascript/views/map.js"></script>
  <script type="text/javascript" src="/javascript/views/meetings.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      var controller;
      // $("#size").text($(window).width() + "px");
      // $(window).resize(function() {
      //   $("#size").text($(window).width() + "px");
      // });

      controller = new nrvaug.Controller(this);
      controller.init();
    });
  </script>
</head>

<body>
  <div id="size"></div>
  <header class="title-section">
    <div>
      <h1 class="title">New River Valley Agile Users Group</h1>
    </div>
    <div class="open-area"></div>
    <div class="announcement"><span>Our next meeting is Tuesday, March 12th! <a href="#meetings">MORE INFO &raquo;</a></span></div>
  </header>
  
  <section class="content">
    <div class="navigation">
      <ul>
        <li class="button"><a href="#main">Home</a></li>
        <li class="button"><a href="#meetings">Meetings</a></li>
        <!-- <li class="button"><a href="#main">Resources</a></li> -->
      </ul>
    </div>
    
  </section>
  <footer>
    <div class="footer-info">
      <div class="footer-unit footer-unit-contact">
        <h4 class="footer-title">Contact Us</h4>
        <a class="button" href="mailto:organizers@agilenrv.org">organizers@agilenrv.org <i class="icon-mail large"></i></a>
      </div>
      <div class="footer-unit footer-unit-mailing-list">
        <h4 class="footer-title">Subscribe to our Mailing List</h4>
        <a class="button" href="#mailing-list">members@agilenrv.org <i class="icon-mail"></i></a>
      </div>
    </div>
  </footer>
</body>
