<head>
  <meta charset="utf-8">
  <title>NRV Agile Users Group</title>
  
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/aug.css">
  <link rel="stylesheet" href="/fontello/css/fontello.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#size").text($(window).width() + "px");
      $(window).resize(function() {
        $("#size").text($(window).width() + "px");
      });
    });
  </script>
</head>

<body>
  <div id="size"></div>
  <header class="title-section">
    <div>
      <h1 class="title">New River Valley Agile Users Group</h1>
    </div>
    <div class="open-area"></div>
    <div class="announcement"><span>Our next meeting is Tuesday, February 12th! <a href="#">MORE INFO &raquo;</a></span></div>
  </header>
  
  <section class="content">
    <div class="navigation">
      <ul>
        <li class="button"><a href="#">Home</a></li>
        <li class="button"><a href="#">Meetings</a></li>
        <li class="button"><a href="#">Resources</a></li>
      </ul>
    </div>
    <div class="blurbs">
      <div class="blurb">
        <h2>Our Mission</h2>
        <p class="blurb-content">Encourage better software development through agile practices</p>
      </div>
      <div class="blurb">
        <h2>Principles</h2>
        <ul class="blurb-content">
          <li class="icon-right-dir"><b>Discussions are open to all things agile</b></li>
          <li class="icon-right-dir"><b>Allow the group to determine discussion topics</b></li>
          <li class="icon-right-dir"><b>Include people from all aspects of software development</b></li>
          <li class="icon-right-dir"><b>Meet on a monthly basis</b></li>
        </ul>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-info">
      <div class="footer-unit footer-unit-contact">
        <h4 class="footer-title">Contact Us</h4>
        <a  class="button" href="mailto:adam.pickeral@rackspace.com">adam.pickeral@rackspace.com</a>
      </div>
    </div>
  </footer>
</body>
