body {
  background-color: #01406c;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  height: 100%;
  font-size: 1.1em;
  letter-spacing: 0.05em; }

.button {
  background-color: #0087be;
  padding: 1em;
  color: #fcfcfc;
  font-weight: 400;
  text-align: center; }
  .button:hover {
    background-color: #005c82;
    cursor: hand;
    cursor: pointer; }
  .button.nav-selected {
    background-color: #005c82; }

#size {
  float: left; }

h3 {
  font-weight: 700; }

.title-section {
  background-color: #0087be;
  height: 7em; }
  .title-section .title {
    color: white;
    text-align: center;
    height: 2em;
    font-weight: 700;
    padding: 0.6em; }
  .title-section .open-area {
    display: none; }
  .title-section .announcement {
    text-align: center;
    height: 2.7em;
    background-color: #fcfcfc;
    padding: 0.6em;
    color: #01406c;
    border: solid #01406c;
    font-size: 1em; }
    .title-section .announcement a {
      font-size: .7em;
      font-weight: 700;
      color: #475d6c;
      letter-spacing: 0.1em; }

.content {
  background-image: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/nasty_fabric.png"); }
  .content .navigation li {
    padding: 0px;
    height: 3em;
    border: solid #01406c; }
  .content .navigation a {
    display: block;
    padding-top: 0.9em;
    height: 100%; }
  .content .blurbs {
    background-color: #fcfcfc; }
    .content .blurbs .info-link {
      color: #0087be; }
    .content .blurbs .blurb {
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      margin-left: 10%;
      margin-right: 10%; }
      .content .blurbs .blurb p {
        padding-top: 1em;
        padding-bottom: 0.25em; }
        .content .blurbs .blurb p.first {
          padding-top: 0; }
        .content .blurbs .blurb p.meeting-description {
          margin: 0.5em auto 0;
          width: 90%;
          font-size: 90%;
          font-weight: 400; }
          .content .blurbs .blurb p.meeting-description.speaker-info {
            font-style: italic;
            font-weight: 300;
            font-size: 80%; }
      .content .blurbs .blurb h2 {
        padding-bottom: 0.5em;
        font-weight: 400;
        font-size: 1.3em;
        color: #01406c; }
      .content .blurbs .blurb #map-canvas {
        width: 98%;
        height: 26em;
        font-size: .6em; }
      .content .blurbs .blurb .form {
        padding-top: 2em; }
        .content .blurbs .blurb .form h4 {
          font-size: 75%;
          font-style: italic;
          color: red; }
      .content .blurbs .blurb .form-field {
        margin-bottom: 1em;
        width: 100%; }
        .content .blurbs .blurb .form-field label {
          display: block; }
        .content .blurbs .blurb .form-field input, .content .blurbs .blurb .form-field textarea {
          width: 70%;
          line-height: 1.4em;
          margin-top: 0.3em;
          margin-right: 2em; }
          .content .blurbs .blurb .form-field input.missing, .content .blurbs .blurb .form-field textarea.missing {
            background-color: rgba(255, 0, 0, 0.25); }
        .content .blurbs .blurb .form-field .option-group {
          width: 10.5em; }
          .content .blurbs .blurb .form-field .option-group label {
            margin-right: 1em;
            display: inline; }
          .content .blurbs .blurb .form-field .option-group input {
            float: none;
            width: 1em;
            margin-right: 0.6em; }
        .content .blurbs .blurb .form-field #security-challenge-image {
          width: 5em;
          height: 5em; }
          .content .blurbs .blurb .form-field #security-challenge-image img {
            width: 100%;
            height: 100%; }
        .content .blurbs .blurb .form-field.save-link {
          margin-top: 2em; }
          .content .blurbs .blurb .form-field.save-link.loading {
            display: none; }
          .content .blurbs .blurb .form-field.save-link a {
            padding-left: 3em;
            padding-right: 3em; }
        .content .blurbs .blurb .form-field.info-message.success {
          color: green; }
        .content .blurbs .blurb .form-field.info-message.error {
          color: red; }
        .content .blurbs .blurb .form-field.info-message.loading {
          background-image: url("/images/loading_icon.gif");
          background-repeat: no-repeat;
          height: 3.75em; }
      .content .blurbs .blurb blog h2 {
        padding-bottom: 0.3em; }
      .content .blurbs .blurb blog date {
        font-weight: 400;
        font-style: italic; }
      .content .blurbs .blurb blog section {
        padding-top: 1em; }
    .content .blurbs ul {
      color: #01406c;
      padding-left: 1em;
      text-indent: -1em; }
      .content .blurbs ul li b {
        color: black; }
  .content author {
    display: block;
    font-style: italic;
    font-weight: 400; }
  .content resources resource.first .image {
    margin-top: 0; }
  .content resources resource.first .info-link {
    margin-top: 0; }
  .content resources resource .info-link {
    margin-top: 1.5em; }
  .content resources resource .image {
    margin-top: 1.5em;
    width: 6em;
    height: 7.6666667em; }
    .content resources resource .image img {
      max-height: 100%;
      max-width: 100%; }
  .content resources resource h3 {
    margin-top: 0.3em; }
  .content resources resource synopsis {
    display: block;
    margin-top: 0.1em; }
  .content resources resource reference {
    font-style: italic; }

footer {
  background-color: #01406c;
  padding: 3em 0.5em; }
  footer .footer-info {
    width: 100%;
    text-align: center; }
    footer .footer-info .footer-unit {
      font-weight: 400;
      margin: -1% auto 2em auto;
      padding-bottom: 1em;
      display: block;
      vertical-align: top; }
      footer .footer-info .footer-unit .footer-title {
        letter-spacing: 0.2em;
        margin-bottom: 1.5em;
        font-size: .65em;
        color: white;
        text-transform: uppercase; }
      footer .footer-info .footer-unit .button {
        position: relative;
        width: 100%; }
        footer .footer-info .footer-unit .button i {
          margin-left: 0.5em; }
        footer .footer-info .footer-unit .button.contact-us:hover {
          cursor: default;
          background-color: #0087be;
          color: #fcfcfc; }

@media screen and (min-width: 480px) {
  .title-section {
    height: 8em; }
    .title-section .title {
      font-size: 1.5em;
      padding: 1.1em 0 0em;
      height: 2.2em; }
    .title-section .announcement {
      font-size: 1em;
      height: 1.7em; } }
@media screen and (min-width: 768px) {
  .title-section .announcement {
    margin: -1% auto 0;
    width: 95%; }

  .content {
    min-height: 314px;
    padding-top: 2em;
    padding-bottom: 5%; }
    .content .navigation {
      float: left;
      width: 15%;
      margin-left: 0.5em; }
      .content .navigation ul {
        width: 100%;
        margin: 0 auto;
        padding-top: 1em;
        padding-bottom: 1em; }
        .content .navigation ul li {
          display: block;
          width: 100%;
          margin: 0 auto 0 6%;
          margin-bottom: 1em;
          border: 0; }
          .content .navigation ul li a {
            height: 0;
            max-height: 100%;
            padding-top: 0.8em;
            padding-bottom: 2.2em; }
    .content .blurbs {
      min-height: 314px;
      width: 62%;
      margin-left: 19%; }
      .content .blurbs .blurb {
        padding-bottom: 2em; }
        .content .blurbs .blurb .form-field {
          width: 28em; }
          .content .blurbs .blurb .form-field .option-group {
            width: 13.5em; }
          .content .blurbs .blurb .form-field input, .content .blurbs .blurb .form-field textarea {
            width: 20em; } }
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.4em; }

  .title-section {
    height: 14em; }
    .title-section .title {
      height: 2.4em;
      font-size: 2.2em; }
    .title-section .open-area {
      display: block;
      background-color: #01406c;
      height: 6.3em; }
    .title-section .announcement {
      margin-top: -4.6em;
      border: solid #FF5C00;
      width: 60%; }

  .content .blurbs {
    min-height: 17em; } }
/*------------------
  goog maps styles
-------------------*/
.gm-style-iw {
  line-height: 14px; }

/*-------------------
  read more styles
--------------------*/
.sidebar-box {
  max-height: 345px;
  position: relative;
  overflow: hidden; }

.sidebar-box .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0 !important;
  padding: 30px 0 !important;
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(252, 252, 252, 0)), color-stop(1, #fcfcfc));
  background-image: -webkit-linear-gradient(top, rgba(252, 252, 252, 0), #fcfcfc);
  background-image: -moz-linear-gradient(top, rgba(252, 252, 252, 0), #fcfcfc);
  background-image: -ms-linear-gradient(top, rgba(252, 252, 252, 0), #fcfcfc);
  background-image: -o-linear-gradient(top, rgba(252, 252, 252, 0), #fcfcfc); }

.read-more-link {
  cursor: hand;
  cursor: pointer; }
